/*
              UNIFEI
ECOI35.1 - DESENVOLVIMENTO DE SISTEMAS WEB - T01
CURSOS: ENGENHARIA DE COMPUTAÇÃO - ICT
        ENGENHARIA DE CONTROLE E AUTOMAÇÃO
        
ALUNOS: IGOR SANTOS VAZ - 2020022850
        SAMUEL GOMES COSTA - 2021017012
*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*ESTILOS PARA TODA A PÁGINA*/
*{
    padding: 0px;
    margin: 0px;
}
body {
    background-color: white;
}
img.background{
    position: absolute;
    width: 100%;
    height: 280%;
}

.corpo{
    position: relative;
    max-width: 1100px;
    margin: 0px auto;
    background-color: #F4F4F4;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.9);
    padding: 10px 0px;
}
@media (max-width: 1100px) {
    .corpo{
        margin: 0 5px;
        box-shadow: none;
    }
    img.background{
        display: none;
    }
}
   
h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
@media (max-width: 1100px) {
    h1{
        font-size: 25px;
    }
}
h2{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
p{
    /*font-family: 'Dongle', sans-serif;*/
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 22px;
    text-align: justify;
}
input{
    background-color: #F4F4F4;
    padding: 0 5px;
    width: 280px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 0.6s;
}
input:hover{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1100px) {
    input{
        margin-bottom: 10px;
    }
}
button{
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px auto;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s; /* Safari */
    transition: all 0.3s ease 0s;
    border: none;
    display: flex;
}
button_style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.calc_button{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
button:hover {
    background: white;
}
button:active {
    transform: translateY(4px);
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 100%;
}
a:active{
    color: red;
}
/*=============================================================*/
/*CABEÇALHO*/
.header{
    align-items: center;
    width: 100%;
}
.rowHeader{
    margin-top: 5px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img.logo{
    margin-bottom: 10px;
    margin-left: 50px;
    width: 60px;
    height: 60px;
}
@media (max-width: 1100px) {
    img.logo{
        margin-left: 0px;
        width: 40px;
        height: 40px;
    }
}
p.pheader{
    margin: 20px 10px;
}
/*=============================================================*/
/*MENU*/
.menu{
    margin: 25px auto;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    background: rgb(255, 216, 143);
    margin-left: 0px;
}
@media (max-width: 1100px) {
    .menu{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
li{
    width: 110px;
    text-align: center;
    margin: 0px 20px;
    padding-top: 6px;
    list-style: none;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.6s;
    border: 0.5px solid gray;
}
.item_maior{
    width: 200px;
}
li:hover{
    background: rgb(252, 229, 187);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
/*=============================================================*/
/*PÁGINA DE EXPLICAÇÃO | SOBRE*/
.explicacao, .mockup{
    margin: 15px 10px;
}
.explicacao p{
    margin: 20px 0px;
}
/*MOCKUP*/
.imagens_mockup{
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.imagens_mockup img{
    border: 1px solid gray;
}

.div_mockup1{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 20px;
    justify-content: center;
    text-align: center;
}
.p_mockup{
    text-align: center;
    margin: 5px 0px;
    font-size: 20px;
}

.mockup_coluna{
    display: flex;
    flex-direction: column;
}

.mockup2{
    width: 100%;
}
.mockup3{
    width: 100%;
    margin-top: 30px;
}
@media (max-width: 1100px){
    .explicacao p, .mockup p{
        font-size: 15px;
    }
}
@media (max-width: 720px){
    .imagens_mockup{
        width: 100%;
        flex-direction: column;
    }
    .div_mockup1{
        width: 100%;
        margin: 0 auto 10px auto;
        
    }
    .mockup3{
        margin-top: 10px;
    }
}
/*=============================================================*/
/*FIGURAS*/
.figuras{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}
@media (max-width: 1100px) {
    .figuras{
        width: 80%;
    }
}
.quadro1{
    background: rgb(255, 216, 143);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 468px;
    height: 340px;
    margin: 10px 40px;
    padding-top: 10px;
    align-items: center;
    border-radius: 5px;
    transition: all 0.6s;
}
.quadro2{
    background: rgb(255, 216, 143);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 468px;
    height: 370px;
    margin: 10px 40px;
    padding-top: 10px;
    align-items: center;
    border-radius: 5px;
    transition: all 0.6s;
}
.quadro2 input{
    width: 270px;
}
.quadro3{
    background: rgb(255, 216, 143);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 500px;
    height: 400px;
    margin: 10px 40px;
    padding-top: 10px;
    align-items: center;
    border-radius: 5px;
    transition: all 0.6s;
}
.quadro1:hover, .quadro2:hover, .quadro3:hover{
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1100px) {
    .quadro1, .quadro2, .quadro3{
        width: 300px;
    }
    .quadro3{
        height: 420px;
    }

}

.infos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: green;*/
    width: 70%;
    padding: 5px;
    margin: 10px 0; 
}
.infos_trap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: green;*/
    width: 80%;
    padding: 5px;
    margin: 10px 0; 
}

/*TAMANHO DAS IMAGENS*/
.square_img{
    margin-top: 10px;
    width: 120px;
    height: 120px;
}
.ret_img{
    margin-top: 10px;
    width: 200px;
    height: 120px;
}
.tri_img{
    margin-top: 10px;
    width: 140px;
    height: 140px;
}

@media (max-width: 1250px) {
    .square_img{
        width: 90px;
        height: 90px;
    }
    .ret_img{
        margin: 5px 87px 0px 87px;
        width: 120px;
        height: 90px;
    }
    .tri_img{
        margin: 0px 96px;
        width: 100px;
        height: 100px;   
    }
}

/*LOCAL DAS RESPOSTAS*/
#CalcQ, #CalcC, #CalcT, #CalcR, #CalcTr{
    background-color: #F4F4F4;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 6px 2px 2px 2px;
    text-align: center;
    max-width: 200px;
    width: 100%;
    height: 25px;
}
/*=============================================================*/
/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
footer p{
    font-size: 20px;
}
footer img{
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
footer::before, footer::after{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}
@media (max-width: 1100px) {
    footer p{
        font-size: 10px;
    }
    footer img{
        width: 40px;
        height: 40px;
    }
}