@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*ESTILOS PARA TODA A PÁGINA*/
*{
    padding: 0px;
    margin: 0px;
}
body {
    background-color: white;
}
img.background{
    position: absolute;
    width: 100%;
    height: 280%;
}
.corpo{
    position: relative;
    max-width: 1180px;
    margin: 0px auto;
    background-color: #F4F4F4;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.9);
    padding: 10px;
}
h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
p{
    /*font-family: 'Dongle', sans-serif;*/
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 22px;
    text-align: justify;
}
input{
    background-color: #F4F4F4;
    padding: 0 5px;
    width: 300px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 0.6s;
}
input:hover{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
button{
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px auto;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s; /* Safari */
    transition: all 0.3s ease 0s;
    border: none;
}
button_style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.calc_button{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
button:hover {
    background: white;
}
button:active {
    transform: translateY(4px);
}
/*=============================================================*/
/*CABEÇALHO*/
.header{
    align-items: center;
    width: 100%;
}
.rowHeader{
    margin-top: 5px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img.logo{
    margin-bottom: 10px;
    margin-left: 50px;
    width: 60px;
    height: 60px;
}
p.pheader{
    margin: 20px 10px;
}
/*=============================================================*/
/*FIGURAS*/
.figuras{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}
.quadro1{
    background: rgb(255, 216, 143);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 500px;
    height: 340px;
    margin: 10px 40px;
    align-items: center;
    border-radius: 5px;
    transition: all 0.6s;
}
.quadro2{
    background: rgb(255, 216, 143);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 500px;
    height: 370px;
    margin: 10px 40px;
    align-items: center;
    border-radius: 5px;
    transition: all 0.6s;
}
.quadro3{
    background: rgb(255, 216, 143);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 500px;
    height: 400px;
    margin: 10px 40px;
    align-items: center;
    border-radius: 5px;
    transition: all 0.6s;
}
.quadro1 p, .quadro2 p, .quadro3 p{
    margin-bottom: 20px;
}
.quadro1:hover, .quadro2:hover, .quadro3:hover{
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}
.infos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: green;*/
    width: 70%;
    padding: 5px;
    margin: 10px 0; 
}
.infos_trap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: green;*/
    width: 80%;
    padding: 5px;
    margin: 10px 0; 
}
/*TAMANHO DAS IMAGENS*/
.square_img{
    width: 120px;
    height: 120px;
}
.ret_img{
    width: 200px;
    height: 120px;
}
.tri_img{
    width: 140px;
    height: 140px;
}
/*=============================================================*/
/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
footer p{
    font-size: 20px;
}
footer img{
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
footer::before, footer::after{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}