@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Mochiy+Pop+P+One&display=swap');

/*ESTILOS PARA TODA A PÁGINA*/
*{
    padding: 0px;
    margin: 0px;
}

h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
p{
    font-family: 'Dongle', sans-serif;
    text-decoration: none;
    font-size: 30px;
}
input{
    padding: 0 5px;
    width: 300px;
    height: 25px;
    border: 1px solid #2b2b2b;
    box-sizing: border-box;
    border-radius: 4px;
}
button{
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}
/*=============================================================*/
/*CABEÇALHO*/
.header{
    max-width: 1220px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}
.rowHeader{
    display: flex;
    justify-content: space-between;
}
img.logo{
    width: 60px;
    height: 60px;
}
p.pheader{
    margin: 20px 0;
}
/*=============================================================*/
/*FIGURAS*/
.figuras{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1220px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}
.quadro{
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    margin: 10px 40px;
    align-items: center;
}
.infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    width: 70%;
    padding: 5px;
    margin: 10px 0; 
}
.square_img{
    width: 120px;
    height: 120px;
}